body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.G_scale_1{
    width: 100%;
    max-width: 1120px;
    display: flex;
   align-items: center;
    justify-content: space-between;
}

.scale_2{
display: flex;
align-items: center;
position: relative;
}

.loading{
    /* display: flex;
    align-items: center;
    justify-content: center; */
width: 20px;

/* background-color: blueviolet; */
position: absolute;
left: 49%;
}


.scale_4{
    display: flex;
    flex-direction: row-reverse;
}


.style_scale{
    width: 1036px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.404);
    margin: 30px 0;
    border-radius: 50px;
}


 .button_style{
    cursor: pointer;
    min-width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 25px;
    /* line-height: 28px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 0, 0);
    margin: 0 20px;
}



.test {
    background-color: aquamarine;
    font-size: 20px;
    /* line-height: 23px; */
}

.line_1{
    background-color: crimson;
    height: 28px;
   width: 0px;
    border-radius: 50px;
    margin: 1px;
}
.line_2{
    background-color: crimson;
    height: 28px;
   width: 0px;
    border-radius: 50px;
    margin: 1px;
}

/* .cont  {
    background-color: red;
    height: 160px;
    width: 100%;
    display: flex;
}
.cont div {
    margin: 10px;
    min-width: 250px;
    height: 100px;
    background-color: greenyellow;
} */

/* display : block
w100%

*/


.forBoxes{
    width: 50px;
    height: 50px;
}


.line_3{
    /* background-color: crimson; */
    height: 28px;
    width: 100%;
    border-radius: 50px;
    margin: 1px;
    display: flex;
}
.box3 {
    width: calc(4.76% - 2.1px);
    height: 100%;
    background-color: blue;
    margin-left: 2px;
}
.box3:first-child {
    /* margin-right: 2px; */
    width: calc(5% - 2px);
    margin: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}


 /* .box3:nth-child(2) {

    width: calc(5% - 2px);
 

      background-color: rgb(255, 0, 0);
} */



/* .box3:last-child {
  
    width: calc(5% - 2px);
    margin: 2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
} */

/* 
.line_4{
    background-color: crimson;
    height: 28px;
   width:0;

    margin: 1px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 200px;
} */
.lastElem {
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
}
.dnk{
    width: 20%;
    /* height: 100%; */
}

/* .dnk:last-child {
 
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.dnk:first-child {
  
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
} */


.line_4{
    background-color: #ffffff;
    height: 100%;
   width: 100%;
    border-radius: 0;
  
    position: absolute;
    /* z-index: 4; */
}


.scale_4{
    position: relative;
    height: 100px;
   
    border-radius: 0;
}


